<!-- app/templates/all_startups.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Startups</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-5">

    <h1>All Startups</h1>

    <!-- Back home button -->
    <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Back home</a>

    {% if all_startups %}
        <p>Total Number of Startups: {{ all_startups_count }}</p>
        <ul class="list-group">
            {% for startup in all_startups %}
                <li class="list-group-item">{{ startup }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No startups found.</p>
    {% endif %}

    <!-- Back home button -->
    <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Back home</a>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
